.imgslider-container {
    display: flex;
    position: relative;
    width: 100%;
color: #ffffff;
text-decoration: none;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
    
}

.imgslider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}


.imgslide {
    padding: 1em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-decoration: none;
}

.imgslide a{

    text-decoration: none;
}

.imgslide .text {
text-align: center;
text-decoration: none;

}


.resize-image {
     max-width: 500px;/* L'image prend toute la largeur du conteneur */
    max-height: 500px; /* L'image prend toute la hauteur du conteneur */
    object-fit: contain; /* L'image s'ajuste pour être entièrement visible sans déformation */
}

.imgslider-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}



.imgindicators {
    justify-content: center;
    padding: 1em 1em 1em;
 
}

.imgdot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.imgdot.active {
    background-color: #717171;
}

@media screen and (max-width: 768px){
    .imgslider-container {
        
        width: 100%;
        height: auto;
        margin: 0px auto;
        overflow: auto;
    }
    .resize-image {
        max-width: 300px;/* L'image prend toute la largeur du conteneur */
       max-height: 300px; /* L'image prend toute la hauteur du conteneur */
       object-fit: contain; /* L'image s'ajuste pour être entièrement visible sans déformation */
   }

  
    .imgslider-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    .imgprev {
        position: relative;
        top: 0;
    }
    
    .imgnext {position: relative;
    }

}