.submenu-videos {
    list-style: none;
    position: absolute;
    width: auto;
    display: none;
    padding: 0;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
    border-radius: 20px;
    box-shadow: 10%;
       min-width: 8em;
   /* background-image: url(logoC2.png) ;*/
    background-color: #000000ef;
}

        .submenu a {
            display: block;
            text-decoration: none;
            color: rgb(255, 255, 255);
            border-radius: 25px;
        }

        .submenu a:hover {
            background-color: #ffea00;
            border-radius: 25px;
        }
